<!--
//after creating layouts file in views ...
//removed html tag
//remove body tag
//removed include tag
//only write main content 
// tittle and body and header and footer etc set on run time using layout.ejs
-->

<!-- <header>Page Header </header>-->
<!-- ..- include('_header');.. -->

<p> Home Page </p>

<!-- ..- include('_footer'); ..-->
<!-- <footer>Page Footer</footer>-->