<link rel="stylesheet" href="/css/user_profile.css">

<!--
//after creating layouts file in views ...
//removed html tag
//remove body tag
//removed include tag
//only write main content 
// tittle and body and header and footer etc set on run time using layout.ejs
-->

<p> this is User Profile</p>