<h1>User SignUp in Codeial</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Enter name" required><br>
    <input type="email" name="email" placeholder="Enter Email" required><br>
    <input type="password" name="password" placeholder="Enter Password" required><br>
    <input type="password" name="confirm_password" placeholder="Enter confirm Password" required><br>
    <input type="submit" value="SignUp">
</form>